doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    //script(src="/javascripts/vendor/Tonejs/Tone.min.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="/javascripts/vendor/nexus-js/NexusUI.js")
    script(src="/javascripts/vendor/sebpiq/webpd-latest.min.js")
  body
    section#wrapper
        block content
        
    script(src="/javascripts/reVoicr.js")
